@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --titleFont: 'Mooli', sans-serif;
    --mainFont: 'Roboto', sans-serif;
}

body {
    display: grid;
    gap: 10px;
    grid-template-rows: 80px 1fr;
}

/* header */

header {
    font-family: var(--titleFont);
    font-size: 3rem;
    place-self: center;
}

/* main */

.add-book > button {
    font-family: var(--mainFont);
    border-radius: 8px;
    border: 1px solid black;
    font-size: 2rem;
    width: 80px;
    height: 80px;
}