@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --titleFont: 'Mooli', sans-serif;
    --mainFont: 'Roboto', sans-serif;
}

body {
    display: grid;
    gap: 10px;
    grid-template-rows: 80px 1fr;
}

/* header */

header {
    font-family: var(--titleFont);
    font-size: 3rem;
    place-self: center;
}

/* main */

.add-book {
    font-family: var(--mainFont);
    border-radius: 8px;
    border: 1px solid black;
    font-size: 2rem;
    width: 80px;
    height: 80px;
}

main {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.card {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Modal style */

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    display: block;
    font-size: 1.4rem;
}

form {
    display: flex;
    flex-direction: column;
    font-family: var(--mainFont);
    font-size: 2rem;
    gap: 8px;
    padding: 1rem;
}

input {
    width: 400px;
    height: 32px;
}

input::placeholder {
    font-size: 18px;
}

select {
    font-size: 18px;
    width: 400px;
    height: 32px;
}

.submitBtn {
    font-size: 18px;
    padding-left: 42px;
    padding-right: 42px; 
}